<div *ngIf="playing && moving && devControls">
    <button (click)="left()">Left</button>
    <button (click)="right()">Right</button>
    <button (click)="up()">Up</button>
    <button (click)="down()">Down</button>
</div>

<div *ngIf="playing && !moving && devControls">
    <button (click)="hit()">Hit</button>
</div>


<img src="assets/whack-a-mole/move.png" alt="screen" style="padding: 10px; margin-top: 60%;" *ngIf="playing && moving">
<img src="assets/whack-a-mole/hit1.png" alt="screen" style="padding: 10px; margin-top: 60%;" *ngIf="playing && !moving">

<div *ngIf="tutorial" style="color: white; margin-top: 50px;">
    <ion-slides #slides [options]="slideOptions">
        <ion-slide style="padding: 10px;">
            <p style="text-decoration: underline;">Goal</p>
            <p style="font-size: 12px; line-height: 15px;">Hit as many moles as you can.</p>
            <p style="font-size: 12px; line-height: 15px;">A mole disappears after a certain time.</p>
            <p style="font-size: 12px; line-height: 15px;">You have 60 seconds.</p>
            <img src="assets/whack-a-mole/screen.png" alt="screen" style="padding: 10px;">
            <div class="myButton" style="text-align: center;" (click)="slides.slideNext()">
                <p style="margin: 0px; font-size: 16px;">Continue</p>
            </div>
        </ion-slide>
        <ion-slide *ngIf="moving" style="padding: 10px;">
            <p style="text-decoration: underline;">Direction</p>
            <p style="font-size: 12px; line-height: 15px;">You are responsible for aiming with the hammer.</p>
            <p style="font-size: 12px; line-height: 15px;">Change the position of the hammer by moving your phone</p>
            <img src="assets/whack-a-mole/move.gif" alt="screen" style="padding: 10px;">
            <p style="font-size: 12px; line-height: 15px;">Your friend is responsible for timing the hammer hit.</p>
            <div class="myButton" style="text-align: center;" (click)="endTutorial()">
                <p style="margin: 0px; font-size: 16px;">Got it!</p>
            </div>
        </ion-slide>
        <ion-slide *ngIf="!moving" style="padding: 10px;">
            <p style="text-decoration: underline;">Direction</p>
            <p style="font-size: 12px; line-height: 15px;">You are responsible for hitting the hammer.</p>
            <p style="font-size: 12px; line-height: 15px;">You need to hold the phone as shown and simulate the hammer hit.</p>
            <img src="assets/whack-a-mole/hit.gif" alt="screen" style="padding: 10px;">
            <p style="font-size: 12px; line-height: 15px;">Your friend is responsible for aiming the hammer.</p>
            <div class="myButton" style="text-align: center;" (click)="endTutorial()">
                <p style="margin: 0px; font-size: 16px;">Got it!</p>
            </div>
        </ion-slide>
    </ion-slides>
</div>

<div *ngIf="!tutorial && !playing && !played" style="color: white; text-align: center; margin-top: 100px; padding: 20px;">
    <span>Wait until other player ended the tutorial</span>
    <span *ngIf="dots == 3">...</span>
    <span *ngIf="dots == 2">..&nbsp;</span>
    <span *ngIf="dots == 1">.&nbsp;&nbsp;</span>
    <span *ngIf="dots == 0">&nbsp;&nbsp;&nbsp;</span>
</div>

<div *ngIf="showMainMenuButton && played" class="myButton" style="margin-top: 100px; text-align: center;" (click)="goToMainMenu()">
    <p style="margin: 0px;">Main Menu</p>
</div>

<div *ngIf="!showMainMenuButton && played" style="color: white; text-align: center; margin-top: 100px; padding: 20px;">
    <span>Wait until other player went to the main menu</span>
    <span *ngIf="dots == 3">...</span>
    <span *ngIf="dots == 2">..&nbsp;</span>
    <span *ngIf="dots == 1">.&nbsp;&nbsp;</span>
    <span *ngIf="dots == 0">&nbsp;&nbsp;&nbsp;</span>
</div>

