<!-- Only displayed if controller is main-controller -->
<div *ngIf="mainController" style="text-align: center;">
  <div style="margin-top: 100px;" (click)="pressedUp()">
    <img src="assets/main-menu/top.png" alt="top" style="height: 60px; border: 3px dashed white; padding: 10px;">
  </div>
  <div class="myButton" style="margin-top: 50px; margin-bottom: 50px" (click)="pressedEnter()">
    <p style="margin: 0px;">Play</p>
  </div>
  <div (click)="pressedDown()">
    <img src="assets/main-menu/down.png" alt="down" style="height: 60px; border: 3px dashed white; padding: 10px;">
  </div>
</div>
<!-- Only displayed if controller is not main-controller -->
<div *ngIf="mainController == false" style="color: white; text-align: center; margin-top: 50px;">
  <span>The other player can select a game. Please wait</span>
  <span *ngIf="dots == 3">...</span>
  <span *ngIf="dots == 2">..&nbsp;</span>
  <span *ngIf="dots == 1">.&nbsp;&nbsp;</span>
  <span *ngIf="dots == 0">&nbsp;&nbsp;&nbsp;</span>
</div>

<div *ngIf="mainController == null" style="color: white; text-align: center; margin-top: 50px;">
  <span>Wait for more controllers</span>
  <span *ngIf="dots == 3">...</span>
  <span *ngIf="dots == 2">..&nbsp;</span>
  <span *ngIf="dots == 1">.&nbsp;&nbsp;</span>
  <span *ngIf="dots == 0">&nbsp;&nbsp;&nbsp;</span>
</div>