<div *ngIf="playing && moving && devControls">
    <button (click)="left()">Links</button>
    <button (click)="right()">Rechts</button>
    <button (click)="up()">Hoch</button>
    <button (click)="down()">Runter</button>
</div>

<div *ngIf="playing && !moving && devControls">
    <!-- <button (click)="hit()">Hit</button> -->
    <button (click)="shake()">Schütteln</button>
</div>


<img src="assets/shaker/move.png" alt="screen" style="padding: 10px; margin-top: 60%;" *ngIf="playing && moving">
<img src="assets/shaker/hit1.png" alt="screen" style="padding: 10px; margin-top: 60%;" *ngIf="playing && !moving">

<div *ngIf="tutorial" style="color: white; margin-top: 50px;">
    <ion-slides #slides [options]="slideOptions">
        <ion-slide style="padding: 10px;">
            <p style="text-decoration: underline;">Schütteln!</p>
            <p style="font-size: 12px; line-height: 15px;">In diesem Spiel musst du dein Handy schütteln.</p>
            <!-- <p style="font-size: 12px; line-height: 15px;">Sammelt nur Zutaten, die ihr braucht.</p> -->
            <!-- <p style="font-size: 12px; line-height: 15px;">Los geht's!</p> -->
            <img src="assets/shaker/shake-phone.gif" alt="screen" style="padding: 10px;">
            <div class="myButton" style="text-align: center;" (click)="slides.slideNext()">
                <p style="margin: 0px; font-size: 16px;">Weiter</p>
            </div>
        </ion-slide>
        <ion-slide style="padding: 10px;">
            <p style="text-decoration: underline;">Früchte sammeln</p>
            <!-- <p style="font-size: 12px; line-height: 15px;">Wenn du fest schüttelst, fallen Früchte von den Bäumen.</p> -->
            <p style="font-size: 12px; line-height: 15px;">Je mehr ihr schüttelt, desto mehr Früchte fallen.</p>
            <p style="font-size: 12px; line-height: 15px;">Mehr Früchte, mehr Saft. Wie viele Becher schafft ihr?</p>

            <!-- <p style="font-size: 12px; line-height: 15px;">Je mehr ihr alle gemeinsam schüttelt, desto mehr Früchte fallen!</p> -->
            <img src="assets/shaker/screen.png" alt="screen" style="padding: 10px;">
            <p style="font-size: 12px; line-height: 15px;">Aber Achtung: Sammelt nur die Früchte, die auf der Liste stehen!</p>
            <div class="myButton" style="text-align: center;" (click)="endTutorial()">
                <p style="margin: 0px; font-size: 16px;">Los geht's!</p>
            </div>
        </ion-slide>
        <!-- <ion-slide *ngIf="!moving" style="padding: 10px;">
            <p style="text-decoration: underline;">Wie?</p>
            <p style="font-size: 12px; line-height: 15px;">Euer Handy ist euer Werkzeug.</p>
            <p style="font-size: 12px; line-height: 15px;">Schüttelt das Handy, um die Objekte zu schütteln.</p>
            <img src="assets/shaker/hit.gif" alt="screen" style="padding: 10px;">
            <p style="font-size: 12px; line-height: 15px;">Je mehr ihr alle gemeinsam schüttelt, desto mehr Früchte fallen!</p>
            <div class="myButton" style="text-align: center;" (click)="endTutorial()">
                <p style="margin: 0px; font-size: 16px;">Alles klar!</p>
            </div>
        </ion-slide> -->
        <!-- <ion-slide *ngIf="!moving" style="padding: 10px;">
            <p style="text-decoration: underline;">Wie?</p>
            <p style="font-size: 12px; line-height: 15px;">Euer Handy ist euer Werkzeug.</p>
            <p style="font-size: 12px; line-height: 15px;">Schüttelt das Handy, um die Objekte zu schütteln.</p>
            <img src="assets/shaker/move.gif" alt="screen" style="padding: 10px;">
            <p style="font-size: 12px; line-height: 15px;">Je mehr ihr alle gemeinsam schüttelt, desto mehr Früchte fallen!</p>
            <div class="myButton" style="text-align: center;" (click)="endTutorial()">
                <p style="margin: 0px; font-size: 16px;">Alles klar!</p>
            </div>
        </ion-slide> -->
    </ion-slides>
</div>

<div *ngIf="!tutorial && !playing && !played" style="color: white; text-align: center; margin-top: 100px; padding: 20px;">
    <span>Warte, bis alle das Tutorial abgeschlossen haben</span>
    <span *ngIf="dots == 3">...</span>
    <span *ngIf="dots == 2">..&nbsp;</span>
    <span *ngIf="dots == 1">.&nbsp;&nbsp;</span>
    <span *ngIf="dots == 0">&nbsp;&nbsp;&nbsp;</span>
</div>

<div *ngIf="showMainMenuButton && played" class="myButton" style="margin-top: 100px; text-align: center;" (click)="goToMainMenu()">
    <p style="margin: 0px;">Main Menu</p>
</div>

<div *ngIf="!showMainMenuButton && played" style="color: white; text-align: center; margin-top: 100px; padding: 20px;">
    <span>Warte, bis der Spielleiter zum Hauptmenü gewechselt hat</span>
    <span *ngIf="dots == 3">...</span>
    <span *ngIf="dots == 2">..&nbsp;</span>
    <span *ngIf="dots == 1">.&nbsp;&nbsp;</span>
    <span *ngIf="dots == 0">&nbsp;&nbsp;&nbsp;</span>
</div>

